.main-app {
  width: 1440px;
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-areas:
  "logo header"
  "nav main";
}

.content {
  grid-area: main;
  width: 1080px;
  max-height: 861px;
  background-color: #fff;
  border-radius: 30px;
}